<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入VUE -->
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备容器 -->
    <div id="root">
        姓：<input type="text" v-model="familyName">
        <br>
        名：<input type="text" v-model="firstName">
        <br>
        全名：<span>{{fullName}}</span>
    </div>

    <script>
        Vue.config.productionTip = false;

        const vm = new Vue({
            el: '#root',
            data: {
                familyName: '张',
                firstName: '三',
            },
            computed: {
                // 简写：前提不需要set
                fullName() {
                    console.log('get被调用');
                    return this.familyName + '-' + this.firstName;
                },
            },
        });
    </script>
</body>

</html>